@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto+Mono:wght@300&family=Roboto:wght@300;400&family=Rubik:wght@300&display=swap');
:root{
    --size: 30px;
    --color: gray;
    --common_color: #4F868E;
    --banner_para_color:#475569;
    --box_shadow: 0px 1px 2px 1px #4F868E3D;
    --heading_font_color:#293039;
    --dark_heading_font_color: #0F172A;
    --article_item_border_color: #E2E8F0;
    ;
    --footer_menu_color: #475569;

    /* navbar Typography */
    --menu_active_background: #E3FBFF;
    --menu_item: #0F172A;
    --menu_active_item: #4F868E;
    --arrow_back: #0F172A;
    --nav_font_family: Montserrat;
    --nav_font_size: 14px;
    --nav_font_weight: 400;
    --nav_active_font_weight: 500;
    --nav_active_font_weight_big: 600;
    --nav_line_height: 24px;
    --nav_letter_spacing: 0.5px;
    --nav_user_button_height: 36px;
    --nav_user_button_height_big: 48px;
    --nav_appointment_font_family: Roboto;
    /* Banner */
    --banner_heading_font_size:32px; 
    --banner_heading_font_weight: 700;
    --banner_heading_line_height: 35px;
    --banner_heading_letter_spacing: 0em;
    --banner_para_font_size: 16px;
    --banner_para_font_weight: 400;
    --banner_para_line_height: 22px;
    --banner_start_button_font_family: Roboto;
    --banner_start_button_font_size: 24px;
    --banner_start_button_font-weight: 700;
    --banner_start_button_line_height: 24px;
    --banner_start_button_letter_spacing: 0.5px;  
    /* Achievement */
    --achievement_title_font_family: Roboto;
    --achievement_title_font_weight: 700;
    --achievement_title_font_size:32px;
    --achievement_title_line_height: 35.2px;
        /* big display title */
    --achievement_title_big_font_family: Montserrat;
    --achievement_title_big_font_size: 48px;
    --achievement_title_big_font_weight: 800;
    --achievement_title_big_line_height: 52.8px;

    --achievement_content_box_width: 361px;
    --achievement_content_box_height: 278px;
    --achievement_content_box_padding: 32px, 16px, 32px, 16px;
    --achievement_content_box_border_radius: 10px;
        /* big display content_box */
    --achievement_content_box_big_width: 321px;
    --achievement_content_box_big_height: 316px;
    --achievement_content_box_big_padding: 32px;
 
    --achievement_content_box_img_size: 64px;
    --achievement_content_box_big_img_size: 90px;
    --achievement_content_title_font_size: 18px;
    --achievement_content_title_font_family: Montserrat;
    --achievement_content_title_font_weight: 600;
    --achievement_content_title_line_height: 30px;
    /* big content title */
    --achievement_content_title_big_font_size: 24px;
    --achievement_content_title_big_line_height: 30px;

    --achievement_content_para_font_family: Montserrat;
    --achievement_content_para_font_weight: 400;
    --achievement_content_para_font_size: 16px;
    --achievement_content_para_line_height: 22.4px;
     /* big content title para */
     --achievement_content_para_big_font_size: 18px;
     --achievement_content_para_big_line_height: 28px;
 
     /* working Time */
    --working_time_content_width: 361px;
    --working_time_content_height: 294px;
    --working_time_title_font_family: Montserrat;
    --working_time_title_font_size: 40px;
    --working_time_title_font_weight: 700;
    --working_time_title_line_height: 44px;
    /* working_time_title big Display */
    --working_time_title_big_font_size: 48px;
    --working_time_title_big_font_weight: 800;
    --working_time_title_big_line_height: 52.8px;

    --working_time_para_font_size: 16px;
    --working_time_para_font_weight: 400;
    --working_time_para_line_height: 22.4px;
    /* working time para big display */
    --working_time_para_big_font_size: 18px;
    --working_time_para_big_line_height: 28.8px;

    --working_time_load_btn_width: 154px;
    --working_time_load_btn_height: 48px;
    --working_time_loading_btn_font_size: 16px;
    --working_time_loading_btn_font_weight: 500;
    --working_time_loading_btn_line_height: 24px;
    --working_time_loading_btn_letter_spacing:0.5px;
    /* working time load big display */
    --working_time_load_btn_big_width: 179px;
    --working_time_load_btn_big_height: 56px;
    --working_time_loading_btn_big_font_size: 20px;

    --working_time_img_width: 220px;
    --working_time_img_height: 252px;
    --working_time_star_icon_height: 176px;
    --working_time_star_icon_width: 176px;

    /* Consultant */
    --consultant_background: #4F868E;
    --consultant_font_family: Montserrat;
    --consultant_h3_font_size: 40px;
    --consultant_h3_font_weight: 800;
    --consultant_h3_line_height: 44px;
    --consultant_h3_letter_spacing: 0em;

    --consultant_para_font_size: 18px;
    --consultant_para_font_weight: 600;
    --consultant_para_line_height: 28.8px;

    /* Consultant big Display */
    /* --consultant_font_family: Roboto; */
    --consultant_para_big_font_size: 56px;
    --consultant_para_big_font_weight: 800;
    --consultant_para_big_line_height: 62px;
    --consultant_details_p_font_size: 16px;
    --consultant_details_p_font_weight: 400;
    --consultant_details_p_line_height: 25.6px;
    --consultant_details_p_font_family: Montserrat;
    --consultant_learn_btn_width: 140px;
    --consultant_learn_btn_height: 40px;
    --consultant_learn_btn_font_family: Roboto;
    --consultant_learn_btn_font_size: 14px;
    --consultant_learn_btn_font_weight: 500;
    --consultant_learn_btn_line_height: 24px;
    --consultant_learn_btn_letter_spacing: 0.5px;
    /* consultant_img_width: 361px */
    --consultant_img_width: 220px;
    --consultant_img_height: 440px;
    /* big display */
    --consultant_big_img_width: 623px;
    --consultant_big_img_height: 760px;
    --consultant_info_width: 576px;

    --consultant_big_h3_font_size: 48px;
    --consultant_big_h3_line_height: 52.8px;

    --consultant_big_para_font_size: 24px;
    --consultant_big_para_font_weight: 600;
    --consultant_bog_para_line_height: 38.4px;

    --consultant_details_big_p_font_size: 18px;
    --consultant_details_big_p_line_height: 28.8px;
    --consultant_details_big_p_font_family: Roboto;

    --consultant_big_learn_btn_width: 209px;
    --consultant_big_learn_btn_height: 56px;
    --consultant_big_learn_btn_font_family: Montserrat;
    --consultant_big_learn_btn_font_size: 20px;
    --consultant_big_learn_btn_font_weight: 600;

    /* article */
    --article_font_family: Montserrat;
    --article_h3_font_size: 32px;
    --article_h3_font_weight: 500;
    --article_h3_line_height: 35px;
    --article_h3_letter_spacing: 0em;
    --article_title_button_font_size: 16px;
    --article_title_button_font_weight: 500;
    --article_title_button_line_height: 24px;
    --article_title_button_letter_spacing: 0.5px;
    --article_item_img_height: 220px;  
    --article_item_mob_img_width: 220px;
    --article_item_details_h5_font_size: 24px;
    --article_item_details_h5_font_weight: 700;
    --article_item_details_h5_line_height: 26px;                        
    --article_item_details_h5_letter_spacing: 0em;
    --article_item_details_p_font_size: 18px;
    --article_item_details_p_font_weight: 400;
    --article_item_details_p_line_height: 29px;
    --article_item_details_p_letter_spacing: 0em;
    --article_item_mobile_read_btn_width: 153px;
    --article_item_mobile_read_btn_height: 48px;
    /* article big display */
    --article_title_h3_font_size: 48px;
    --article_title_h3_font_weight: 800;
    --article_title_h3_line_height: 52.8px;
    --article_item_img_width: 410.67px; 
    --article_title_big_button_font_family: Roboto;
    --article_title_big_button_font_size: 20px;
    --article_item_big_read_btn_width: 166px;
    --article_item_big_read_btn_height: 48px;

    /* Popular Question */
    --question_content_img_height: 337px;
    /* width given 351.74px; */
    --question_content_img_width: 220px;
    --question_font_family: Montserrat;
    --question_font_size: 32px;
    --question_font_weight: 700;
    --question_line_height: 35.2px;
    --question_acc_h4_font_size: 18px;
    --question_acc_h4_font_weight: 400;
    --question_acc_h4_line_height: 28.8px;
    --question_acc_active_bg:#e7e4e4;
    /*  --question_acc_img_width: 490px; */
    --question_acc_img_width: 220px;
    --question_acc_img_height: 511.43px;
    
    /* Big Display Question */
    --question_acc_big_font_size: 48px;
    --question_acc_big_font_weight: 800;
    --question_acc_big_line_height: 52.8px;
    --question_acc_big_h4_font_size: 24px;
    --question_acc_big_h4_font_weight: 600;
    --question_acc_big_h4_line_height: 38.4px;

    /* Footer */
    --footer_item_a_font_family: Roboto;
    --footer_item_a_font_size: 16px;
    --footer_item_a_font_weight: 400;
    --footer_item_a_line_height: 22px; 
    --footer_social_icon_height: 24px;
    --footer_social_icon_width: 24px;
    --footer_social_icon_font_size: 16px;

    /* ==================== About ====================== */
    --about_consultant_details_p_color: #061C3D;
    --about_consultant_img_bg: transparent;
    --about_page_header_h3_font_size: 32px;
    --about_page_header_big_h3_font_size: 48px;
    --about_page_header_h3_font_weight: 600;
    --about_page_header_big_h3_font_weight: 800;
    --about_page_header_h3_line_height: 53px;
    --about_page_header_h3_color: #0F172A;
    --about_page_header_page_title_font_size: 18px;
    --about_page_header_big_page_title_font_size: 24px;
    --about_page_header_page_title_font_weight: 600;
    --about_page_header_page_title_line_height: 30px;

    --certificate_title_font_family: Roboto;
    --certificate_title_font_weight: 700;
    --certificate_title_font_size:32px;
    --certificate_title_line_height: 35.2px;

    --certificate_title_p_font_size: 16px;
    --certificate_title_p_font_weight: 400;
    --certificate_title_p_line_height: 25.6px;
    --certificate_title_p_font_family: Montserrat;

    --certificate_item_img_width: 380px;
    --certificate_item_img_height: 268px;

    /* certificated big display */
    --certificate_title_big_font_family: Montserrat;
    --certificate_title_big_font_weight: 800;
    --certificate_title_big_font_size:48px;
    --certificate_title_big_line_height: 52.8px;

    --certificate_title_big_p_font_size: 18px;
    --certificate_title_big_p_line_height: 28.8px;
    --certificate_title_big_p_font_family: Montserrat;
    
    /* Working Process */
    --working_process_img_width: 612px;
    --working_process_img_height: 829px;
    --working_process_way_width: 638px;

    /* about person */
    --photos_gallery_title_width: 850px;

    /* about person big display */
    --person_items_big_width: 512px;

    /* common banner */
    --common_banner_font_family: Montserrat;
    --common_banner_p_font_size: 14px;
    --common_banner_big_p_font_size: 18px;
    --common_banner_p_font_weight: 400;
    --common_banner_p_line_height: 29px;
    --common_banner_p_letter_spacing: 0.5px;
    
    /* mobile common */
    --content_margin_top: 48px;
    --heading_font_family: Montserrat;
    --heading_font_size: 32px;
    --heading_font_weight: 700;
    --heading_line_height: 35.2px;
    --heading5_font_size: 18px;
    --paragraph_font_size: 14px;
    --paragraph_font_weight: 400;
    --paragraph_line_height: 28.8px; 

    /* big display common */
    --content_big_margin: 80px 0;
    --heading_big_font_family: Montserrat;
    --heading_big_font_size: 48px;
    --heading_big_font_weight: 800;
    --heading_big_line_height: 53px;
    --heading5_big_font_size: 24px;
    --paragraph_big_font_size: 18px;
    --paragraph_big_font_weight: 400;
    --paragraph_big_line_height: 28.8px; 



}
*{
    margin: 0;
    padding: 0;
}
/* Main Layout */
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.container{
    max-width: 1280px;
    padding: 18px 0;
    display: block;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        padding: 0 80px;
    }
}
