body{
    font-family: Montserrat;
}
.consultant{
    background: var(--about_consultant_img_bg);
  }
  .consultant_name_degree h3{
    color: var(--about_consultant_details_p_color);

 }
.consultant_details p{
    color: #061C3D;
 }
 .consultant_bio{
    color: linear-gradient(0deg, #061C3D, #061C3D);
 }
 .consultant_name_degree p{
    color: var(--common_color);
}
.learn_btn {
    border: 2px solid var(--common_color );
    color: var(--common_color);
}
