 /* consultant */
 .consultant{
    background: var(--consultant_background);
  }
  .consultant_bio{
     padding: 48px 0;
     display: flex;
     flex-direction: column;
     gap: 32px;
     color: #FFFFFF;
  }
  .consultant_info{
     display: flex;
     flex-direction: column;
     gap:32px;
  }
  .consultant_name_degree{
     display: flex;
     flex-direction: column;
     gap: 10px;
     font-family: var(--consultant_font_family);
  }
  .consultant_name_degree h3{
     font-size: var(--consultant_h3_font_size);
     font-weight: var(--consultant_h3_font_weight); 
     line-height: var(--consultant_h3_line_height);
     letter-spacing: var(--consultant_h3_letter_spacing);
  }
  .consultant_name_degree p{
     font-size: var(--consultant_para_font_size);
     font-weight: var(--consultant_para_font_weight);
     line-height: var(--consultant_para_line_height);
  }
  .consultant_details p{
     color:#FFFFFF;
     font-size: var(--consultant_details_p_font_size);
     font-family: var(--consultant_details_p_font_family);
     font-weight: var(--consultant_details_p_font_weight);
     line-height: var(--consultant_details_p_line_height);
  }
  .learn_btn{
     gap: 14px;
     width: var(--consultant_learn_btn_width);
     height: var(--consultant_learn_btn_height);
     border: 2px solid #FFFFFF;
     color: #FFFFFF;
     border-radius: 8px;
     background: transparent;
     font-family: var(--consultant_learn_btn_font_family);
     font-size: var(--consultant_learn_btn_font_size);
     font-weight: var(--consultant_learn_btn_font_weight);
     line-height: var(--consultant_learn_btn_line_height);
     letter-spacing: var(--consultant_learn_btn_letter_spacing);
  }
  .consultant_img{
     min-width: var(--consultant_img_width);
     min-height: var(--consultant_img_height);
  }
  .consultant_img img{
     height: 100%;
     width: 100%;
  }
 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* consultant  */
  .consultant_bio{
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }
  .consultant_info{
    max-width: var(--consultant_info_width);
  }
  .consultant_name_degree h3{
    font-size: var(--consultant_big_h3_font_size);
    line-height: var(--consultant_big_h3_line_height);
 }

 .consultant_name_degree p{
  font-size: var(--consultant_big_para_font_size);
  font-weight: var(--consultant_big_para_font_weight);
  line-height: var(--consultant_bog_para_line_height);
}
.consultant_details p{
  font-size: var(--consultant_details_big_p_font_size);
  font-family: var(--consultant_details_big_p_font_family);
  line-height: var(--consultant_details_big_p_line_height);
}

.learn_btn{
  gap: 16px;
  width: var(--consultant_big_learn_btn_width);
  height: var(--consultant_big_learn_btn_height);
  font-family: var(--consultant_big_learn_btn_font_family);
  font-size: var(--consultant_big_learn_btn_font_size);
  font-weight: var(--consultant_big_learn_btn_font_weight);
}

  .consultant_img{
    width: var(--consultant_big_img_width);
    height: var(--consultant_big_img_height);
    border-radius: 80px, 0px, 80px, 0px;
  }     
 

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 1400px) {

}
