
.navbar_item{
  font-family: var(--nav_font_family);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 107.48px;
  height: 35px
}

.mobile_nav_item ul{
    list-style: none;
}
.mobile_nav_item ul li a{
  text-decoration: none;
  font-family: var(--nav_font_family);
  font-size: var(--nav_font_size);
  color: var(--arrow_back);
  font-weight: var(--nav_font_weight);
  letter-spacing: var(--nav_letter_spacing);
  line-height: var(--nav_line_height);
}
.mobile_nav_item {
  display: none;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.mobile_nav_item.open {
  display: block;
}
/* user Changes */
.user_changes{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  align-items: center;
  gap: 12px;
  text-align: center;
  width: 225px;
}
.appointment_btn{
  grid-column: 1/1;
  grid-row: 1/1;
}
.language_transform{
  grid-column: 2/3;
  grid-row: 1/1;
}

.appointment_btn_big{
  display: none;
}
.appointment_btn, .appointment_btn_big{
  grid-column: 1/2;
} 
.language_transform button{ 
  height: 100%;
  font-size: 12px;
  font-weight: 500;
  border: none;
  background-color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

.appointment_btn button{
  cursor: pointer;
  font-family: var(--nav_appointment_font_family);
  font-size: var(--nav_font_size);
  font-weight: var(--nav_font_weight);
  line-height: var(--nav_line_height);
  letter-spacing: var(--nav_letter_spacing);
  width: 137px;
  height: var(--nav_user_button_height);
  border-radius: 8px;
  outline: none;
  border: none;
  background: var(--common_color);
  color: #FFFFFF;
} 
/* Humburger Icon */
.menu_btn {
  grid-template-columns: 3/-1;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu_btn_burger {
  width: 24px;
  height: 4px;
  background: var(--common_color);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu_btn_burger::before,
.menu_btn_burger::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 4px;
  background: var(--common_color);
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu_btn_burger::before {
  transform: translateY(-10px);
}
.menu_btn_burger::after {
  transform: translateY(10px);
}

/* ANIMATION */
.menu_btn.open .menu_btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu_btn.open .menu_btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu_btn.open .menu_btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* ============= Banner ================== */
.banner{
  padding-top: 30px;
  min-height: 560px;
  max-height: 947px;
  background: linear-gradient(180deg, rgba(79, 134, 142, 0.2) 0%, rgba(79, 134, 142, 0) 100%); 
}
.banner_items{
  text-align: center;
  font-family: var(--nav_font_family);
}
.banner_items .start_work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.banner_items .start_work h2{
  font-size: var(--banner_heading_font_size);
  font-weight: var(--banner_heading_font_weight);
  line-height: var(--banner_heading_line_height);
  letter-spacing: var(--banner_heading_letter_spacing);
  color: var(--common_color);
  padding: 0 20px;
}
.banner_items .start_work p{
  font-size: var(--banner_para_font_size);
  font-weight: var(--banner_para_font_weight);
  line-height: var(--banner_para_line_height);
  color: var(--banner_para_color);
}
.banner_items .start_work button{
  width: 208px;
  height: 64px;
  border: 2px solid var(--common_color);
  color: var(--common_color);
  border-radius: 8px;
  outline: none;
  padding: 0px, 24px, 0px, 24px;
  background-color: transparent;
  font-family: var(--banner_start_button_font_family);
  font-size: var(--banner_start_button_font_size);
  font-weight: var(--banner_start_button_font-weight);
  line-height: var(--banner_start_button_line_height);
  letter-spacing: var(--banner_start_button_letter_spacing);
}

/* achievement */
.achievement{ 
  text-align: center;
}
.title_big{
  display: none;
}
.achievement .title{
  margin-top: 43px;
  font-family: var(--achievement_title_font_family);
  font-size: var(--achievement_title_font_size);
  font-weight: var(--achievement_title_font_weight);
  line-height: var(--achievement_title_line_height);
}
.achievement_content{
  display: flex;
  flex-direction: column;
  gap:32px;
  margin-top: 23px; 
  text-align: center;
  align-items: center;
}
.ac_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: var(--achievement_content_box_height);
  width: var(--achievement_content_box_width);
  padding: var(--achievement_content_box_padding); 
  box-shadow: var(--box_shadow);
  border-radius: var(--achievement_content_box_border_radius);
}
.ac_content_image{
  margin-top:32px;
  width: var(--achievement_content_box_img_size);
  height: var(--achievement_content_box_img_size);
  text-align: center;
}
.ac_content_image img{
  height: 100%;
  width: 95%;
}
.ac_info{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 0 16px;
}
.ac_info_heading{
  width: 222px;
  height: 30px;
}
.ac_info_heading h5{
  color: var(--heading_font_color);
  font-size: var(--achievement_content_title_font_size);
  font-weight: var(--achievement_content_title_font_weight);
  font-family: var(--achievement_content_title_font_family);
  line-height: var(--achievement_content_title_line_height);
}
.certified_para p{
    font-family: var(--achievement_content_para_font_family);
    font-weight: var(--achievement_content_para_font_weight);
    font-size: var(--achievement_content_para_font_size);
    line-height: var(--achievement_content_para_line_height);
}

/* working Time */
 .working_time{
  background: linear-gradient(0deg, rgba(79, 134, 142, 0.3) 0%, rgba(79, 134, 142, 0) 100%);
 }
 .working_item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 32px;
 }
 .working_time_content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* width: var(--working_time_content_width); */
    gap: 24px;
    min-height: var(--working_time_content_height); 
    gap: 24px
 }
 .working_time_title{
    color: var(--dark_heading_font_color);
    max-height: 88px;
    font-family: var(--working_time_title_font_family);
    font-size: var(--working_time_title_font_size);
    font-weight: var(--working_time_title_font_weight);
    line-height: var(--working_time_title_line_height);
 }
 .working_time_title_big{
    display: none;
 }
 .working_time_para{
  font-family: var(--working_time_title_font_family);
  font-size: var(--working_time_para_font_size);
  font-weight: var(--working_time_para_font_weight);
  line-height: var(--working_time_para_line_height);
 }
 .working_time_content .load_btn, .learn_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: var(--working_time_load_btn_width);
  height: var(--working_time_load_btn_height);
  border: 2px solid var(--common_color);
  color: var(--common_color);
  border-radius: 8px;
  background: transparent;
  font-size: var(--working_time_loading_btn_font_size);
  font-weight: var(--working_time_loading_btn_font_weight);
  line-height: var(--working_time_loading_btn_line_height);
  letter-spacing: var(--working_time_loading_btn_letter_spacing);
 }
 .load_btn_arrow{
  padding: 5px;
 } 
 .working_time_img{
  min-width: var(--working_time_img_width);
  min-height: var(--working_time_img_height);
  position: relative;
 }
 .working_time_img .group_img{
  height: 100%;
  width: 100%;
 }
 .star_icon_img{
  position: absolute;
  left: -10px;
  top: 10px;
  height: var(--working_time_star_icon_height);
  width: var(--working_time_star_icon_width);
  z-index: -999;
 }

 /* consultant */
 .consultant{
   background: var(--consultant_background);
 }
 .consultant_bio{
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #FFFFFF;
 }
 .consultant_info{
    display: flex;
    flex-direction: column;
    gap:32px;
 }
 .consultant_name_degree{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--consultant_font_family);
 }
 .consultant_name_degree h3{
    font-size: var(--consultant_h3_font_size);
    font-weight: var(--consultant_h3_font_weight);
    line-height: var(--consultant_h3_line_height);
    letter-spacing: var(--consultant_h3_letter_spacing);
 }
 .consultant_name_degree p{
    font-size: var(--consultant_para_font_size);
    font-weight: var(--consultant_para_font_weight);
    line-height: var(--consultant_para_line_height);
 }
 .consultant_details p{
    color:#FFFFFF;
    font-size: var(--consultant_details_p_font_size);
    font-family: var(--consultant_details_p_font_family);
    font-weight: var(--consultant_details_p_font_weight);
    line-height: var(--consultant_details_p_line_height);

 }
 .learn_btn{
  gap: 14px;
  width: var(--consultant_learn_btn_width);
  height: var(--consultant_learn_btn_height);
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 8px;
  background: transparent;
  font-family: var(--consultant_learn_btn_font_family);
  font-size: var(--consultant_learn_btn_font_size);
  font-weight: var(--consultant_learn_btn_font_weight);
  line-height: var(--consultant_learn_btn_line_height);
  letter-spacing: var(--consultant_learn_btn_letter_spacing);
 }
 .consultant_img{
    width: var(--consultant_img_width);
    height: var(--consultant_img_height);
 }
 .consultant_img img{
    height: 100%;
    width: 100%;
    
 }
