.page_header{
    background: linear-gradient(180deg, rgba(79, 134, 142, 0.2) 0%, rgba(79, 134, 142, 0) 100%);
}
.page_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_position_show{
    display: flex;
    gap: 3px;
}
.page_position_show .home_page{
    color: var(--common_color);
}
.page_header h3{
    color: var(--about_page_header_h3_color);
    font-size: var(--about_page_header_h3_font_size);
    font-weight: var(--about_page_header_h3_font_weight);
    line-height: var(--about_page_header_h3_line_height);
    letter-spacing: 0em;
}
.page_title{
    font-size: var(--about_page_header_page_title_font_size);
    font-weight: var(--about_page_header_page_title_font_weight);
    line-height: var(--about_page_header_page_title_line_height);
    letter-spacing: 0em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    .page_header h3{
        color: var(--about_page_header_h3_color);
        font-size: var(--about_page_header_big_h3_font_size);
        font-weight: var(--about_page_header_big_h3_font_weight);
        line-height: var(--about_page_header_h3_line_height);
        letter-spacing: 0em;
    }
    .page_title{
        font-size: var(--about_page_header_big_page_title_font_size);
        font-weight: var(--about_page_header_page_title_font_weight);
        line-height: var(--about_page_header_page_title_line_height);
        letter-spacing: 0em;
        margin: 62px 0; 
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 1400px) {

}
