.question_wrapper{
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form_img{
    max-width: 662px;
    max-height: 829px;
}
.form_img img{
    height: 100%;
    width: 100%;
    border-radius: 80px, 0px, 80px, 0px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contact_form .title h3{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 800;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--common_color);
}
.contact_form .form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    gap: 40px;
}
.form input{
    grid-column: 1/-1;
    max-width: 584px;
    max-height: 60px;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    border: 1px solid #4F868E;
}
.form .first_name, .last_name{
    max-width: 276px;
    max-height: 60px;
}
.form .name{
    display: flex;
    gap: 32px;
    max-height: 60px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .question_wrapper{
        flex-direction: row;
    }
    .form_img{
        width: 52.72%;
    }
    .contact_form{
        width: 45.93%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 1400px) {

}
