.related_article{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.related_article h3{
    font-family: Montserrat;
    font-size: var(--card_h3_font_size);
    font-weight: var(--card_h3_font_weight);
    line-height: var(--card_h3_line_height);
    letter-spacing: 0em;
}
.related_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.related_card img{
    max-width: 90px;
    max-height: 90px;
    border-radius: 16px
}
.related_card p{
    color: var(--dark_heading_font_color);
    font-size: var(--cat_p_font_size);
    font-weight: 700;
    line-height: var(--cat_p_line_height);
}