/* working Time */
.working_time{
    background: linear-gradient(0deg, rgba(79, 134, 142, 0.3) 0%, rgba(79, 134, 142, 0) 100%);
}
.working_item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 32px;
}
.working_time_content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* width: var(--working_time_content_width); */
    gap: 24px;
    min-height: var(--working_time_content_height); 
    gap: 24px
}
.working_time_title{
    color: var(--dark_heading_font_color);
    max-height: 88px;
    font-family: var(--working_time_title_font_family);
    font-size: var(--working_time_title_font_size);
    font-weight: var(--working_time_title_font_weight);
    line-height: var(--working_time_title_line_height);
}
.working_time_title_big{
    display: none;
}
.working_time_para{
    font-family: var(--working_time_title_font_family);
    font-size: var(--working_time_para_font_size);
    font-weight: var(--working_time_para_font_weight);
    line-height: var(--working_time_para_line_height);
}
.working_time_content .load_btn, .learn_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: var(--working_time_load_btn_width);
    height: var(--working_time_load_btn_height);
    border: 2px solid var(--common_color);
    color: var(--common_color);
    border-radius: 8px;
    background: transparent;
    font-size: var(--working_time_loading_btn_font_size);
    font-weight: var(--working_time_loading_btn_font_weight);
    line-height: var(--working_time_loading_btn_line_height);
    letter-spacing: var(--working_time_loading_btn_letter_spacing);
}
.load_btn_arrow{
    padding: 5px;
} 
.working_time_img{
    min-width: var(--working_time_img_width);
    min-height: var(--working_time_img_height);
    position: relative;
}
.working_time_img .group_img{
    height: 100%;
    width: 100%;
}
.star_icon_img{
    position: absolute;
    left: -10px;
    top: 10px;
    height: var(--working_time_star_icon_height);
    width: var(--working_time_star_icon_width);
    z-index: -999;
}

   
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* working Time */
  .working_item{
    grid-template-columns: 600px 1fr;
    grid-template-rows: auto;  
    align-items: center;
    gap: 80px;
    margin: 80px 0;
 }
 .working_time_img{
  grid-column: 1/2;
  grid-row: 1/1;
 }
 .working_time_content{
  grid-column: 2/-1;
  grid-row: 1/1;
 }
 .working_time_title_big{
  font-size: var(--working_time_title_big_font_size);
  font-weight: var(--working_time_title_big_font_weight);
  line-height: var(--working_time_title_big_line_height);
  }
  .working_time_para{
    font-size: var(--working_time_para_big_font_size);
    line-height: var(--working_time_para_big_line_height);
   }

   .working_time_content .load_btn{
    width: var(--working_time_load_btn_big_width);
    height: var(--working_time_load_btn_big_height);
    font-size: var(--working_time_loading_btn_big_font_size);
   }
  .working_time_title{
    display: none;
  }
  .working_time_title_big{
    display: block;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 1400px) {

}
