
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu{
    display: none;
  }
  .language_transform button{ 
    width: 40px
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu{
    display: none;
  }
  .language_transform button{ 
    width: 40px
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .language_transform button{ 
    width: fit-content
  }
  .achievement{
    text-align: start;
  }
  .achievement .title{
    display: none;
  }
  .achievement .title_big {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-family: var(--achievement_title_big_font_family);
    font-size: var(--achievement_title_big_font_size );
    font-weight: var(--achievement_title_big_font_weight);
    line-height: var(--achievement_title_big_line_height);
  }
  .achievement_content{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    text-align: start;
    gap: 0;
  }
  .ac_item{
    align-items: start;
    gap: 16px;
    height: var(--achievement_content_box_big_height);
    width: var(--achievement_content_box_big_width);
    padding: var(--achievement_content_box_big_padding); 
    border-radius: var(--achievement_content_box_border_radius);
  }
  .ac_content_image{
    width: var(--achievement_content_box_big_img_size);
    height: var(--achievement_content_box_big_img_size);
  }
  .ac_info{
    align-items: start;
    padding: 0;
    height: 130px;
    width: 321px;
  }
  .ac_info_heading{
    width: 321px;
    height: 30px;
  }
  .ac_info_heading h5{
    font-size: var(--achievement_content_title_big_font_size);
    line-height: var(--achievement_content_title_big_line_height);
  }
  .certified_para p{
    font-family: var(--achievement_content_para_font_family);
    font-weight: var(--achievement_content_para_font_weight);
    font-size: var(--achievement_content_para_font_size);
    line-height: var(--achievement_content_para_line_height);
  }
  /* working Time */
  .working_item{
    grid-template-columns: 600px 1fr;
    grid-template-rows: auto;  
    align-items: center;
    gap: 80px;
    margin: 80px 0;
 }
 .working_time_img{
  grid-column: 1/2;
  grid-row: 1/1;
 }
 .working_time_content{
  grid-column: 2/-1;
  grid-row: 1/1;
 }
 .working_time_title_big{
  font-size: var(--working_time_title_big_font_size);
  font-weight: var(--working_time_title_big_font_weight);
  line-height: var(--working_time_title_big_line_height);
  }
  .working_time_para{
    font-size: var(--working_time_para_big_font_size);
    line-height: var(--working_time_para_big_line_height);
   }

   .working_time_content .load_btn{
    width: var(--working_time_load_btn_big_width);
    height: var(--working_time_load_btn_big_height);
    font-size: var(--working_time_loading_btn_big_font_size);
   }
  .working_time_title{
    display: none;
  }
  .working_time_title_big{
    display: block;
  }

  /* consultant  */
  .consultant_bio{
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }
  .consultant_info{
    max-width: var(--consultant_info_width);
  }
  .consultant_name_degree h3{
    font-size: var(--consultant_big_h3_font_size);
    line-height: var(--consultant_big_h3_line_height);
 }

 .consultant_name_degree p{
  font-size: var(--consultant_big_para_font_size);
  font-weight: var(--consultant_big_para_font_weight);
  line-height: var(--consultant_bog_para_line_height);
}
.consultant_details p{
  font-size: var(--consultant_details_big_p_font_size);
  font-family: var(--consultant_details_big_p_font_family);
  line-height: var(--consultant_details_big_p_line_height);
}

.learn_btn{
  gap: 16px;
  width: var(--consultant_big_learn_btn_width);
  height: var(--consultant_big_learn_btn_height);
  font-family: var(--consultant_big_learn_btn_font_family);
  font-size: var(--consultant_big_learn_btn_font_size);
  font-weight: var(--consultant_big_learn_btn_font_weight);
}

  .consultant_img{
    width: var(--consultant_big_img_width);
    height: var(--consultant_big_img_height);
    border-radius: 80px, 0px, 80px, 0px;
  }     
  /* article */
  .articles{
    gap: 24px;
  }
  .article_title{
      flex-direction: row;
      justify-content: space-between;
  }
  .article_h3_big, .article_view_btn_big, .article_item_big_read_btn{
    display: block;
 }
 .article_h3_mobile, .article_view_btn_mobile, .article_item_mobile_read_btn, .pq_mobile_heading{
  display: none;
 }
  .article_title h3{
    font-size: var(--article_title_h3_font_size);
    font-weight: var(--article_title_h3_font_weight);
    line-height: var(--article_title_h3_line_height);
    color: var(--dark_heading_font_color);
  }
  .article_title button{
    width: 148px;
    height: 56px ;
    font-family: var(--article_title_big_button_font_family);
    font-size: var(--article_title_big_button_font_size);
    border: 2px solid var(--common_color);
    border-radius: 8px;
    background-color: transparent;
    color: var(--common_color);
  }
  .article_items{
      flex-direction: row;
  }
  .article_item:first-child{
    display: none;
  }
  .article_item .article_img{
    max-width: var(--article_item_img_width);
    height: var(--article_item_img_height);
    border-radius: 4px;
  }
  .article_item{
    border-radius: 10px;
  }
  .article_item_big_read_btn{
      color: var(--common_color);
      width: var(--article_item_big_read_btn_width);
      height: var(--article_item_big_read_btn_height);
      padding:12px 0 12px 0;
      border: none;
      outline: none;
      background: transparent;
      font-size: var(--article_title_button_font_size);
      font-weight: var(--article_title_button_font_weight);
      line-height: var(--article_title_button_line_height);
      letter-spacing: var(--article_title_button_letter_spacing);
  }
  /* question */
  .popular_question_box{
    grid-template-columns: auto auto;
    align-items: center;
    gap: 80px;
  }
  .pq_big_heading{
    display: block;
  }
  .accordion h4{
    font-size: var(--question_acc_big_h4_font_size);
    font-weight: var(--question_acc_big_h4_font_weight);
    line-height: var(--question_acc_big_h4_line_height);
  }
  .active, .accordion:hover {
    background-color: var(--question_acc_active_bg);
  }
  .content_img{
    grid-row: 1/1;
    grid-column: 1/1;
    max-width: var(--question_acc_img_width);
    max-height: var(--question_acc_img_height);
  }
  .popular_question_content{
    grid-row: 1/1;
  }
  .pq_big_heading{
    text-align: left;
    padding: 0 18px;
    color: var(--dark_heading_font_color);
    font-family: var(--question_font_family);
    font-size: var(--question_acc_big_font_size);
    font-weight: var(--question_acc_big_font_weight);
    line-height: var(--question_acc_big_line_height);
    letter-spacing: 0em;
  }

  /* footer */
  .social_icon{
    display: block;
  }

  .footer_item{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--common_color);
    height: 126px;
  }
  .footer_menu{
    display: none;
  }
  .footer_menu_big{
    max-width: 578px;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer_menu_big a{
    color: var(--dark_heading_font_color);
    font-size: var(--footer_item_a_font_size);
    font-weight: var(--footer_item_a_font_weight);
    line-height: var(--footer_item_a_line_height);
    letter-spacing: 0em;
    text-decoration: none;
  }
  .social_icon{
    margin-top: 10px;
  }
  .social_icon ul{
    list-style-type: none;
  }
  .social_icon ul li{
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-left: 16px;
    text-align: center;

  }
  .social_icon a{
    color: var(--dark_heading_font_color);
  }
  .social_icon ul li:first-child{
    margin-left: 0;
  }
  .copyright{
    display: flex;
    justify-content: center;
  }
 
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .menu{
    display: block;
  }
  .menu_btn, .mobile_nav_item{
    display: none;
  }
  .navbar_item{
    font-family: var(--nav_font_family);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }
  .logo{
    width: 107.48px;
    height: 35px
  }
  
  /* Menu */
  .menu ul{ 
    list-style: none;
  }
  .menu ul li{
    display: inline-block;
    margin-left: 20px;
    padding:12px 8px;
  }
  .menu ul li a{
    color: var(--menu_item);
    font-size: var(--nav_font_size);
    line-height: var(--nav_line_height);
    letter-spacing: var(--nav_letter_spacing);
    text-decoration: none;
  }
  .menu ul li a i{
    font-size: 12px;
    color: var(--arrow_back);
  }
  .menu .active{
    background-color: var(--menu_active_background);
    font-weight: var(--nav_active_font_weight_big);
  }
  .menu ul .active a{
    color: var(--menu_active_item);
  }
      /* user Changes */
  .user_changes{
    display: flex;
    justify-content: end;
    gap: 12px;
  }
  .language_transform button{ 
    height: var(--nav_user_button_height_big);
    width: var(--nav_user_button_height_big);
    border-radius: 50%;
    background-color: #FFFFFF;
    border:1px solid rgb(212, 209, 209);
    outline: none;
    cursor: pointer;
  }
  .appointment_btn{
    display: none;
  }
  .appointment_btn_big{
    display: block;
  }
  .appointment_btn_big button{
    cursor: pointer;
    font-family: var(--nav_font_family);
    font-size: var(--nav_font_size);
    font-weight: var(--nav_font_weight);
    line-height: var(--nav_line_height);
    letter-spacing: var(--nav_letter_spacing);
    width: 251px;
    height: var(--nav_user_button_height_big);
    border-radius: 8px;
    outline: none;
    border: none;
    background: var(--common_color);
    color: #FFFFFF;
  }
}
@media only screen and (min-width: 1400px) {

}
