
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* question */
  .popular_question_box{
    grid-template-columns: auto auto;
    align-items: center;
    gap: 80px;
  }
  .pq_big_heading{
    display: block;
  }
  .accordion h4{
    font-size: var(--question_acc_big_h4_font_size);
    font-weight: var(--question_acc_big_h4_font_weight);
    line-height: var(--question_acc_big_h4_line_height);
  }
  .active, .accordion:hover {
    background-color: var(--question_acc_active_bg);
  }
  .content_img{
    grid-row: 1/1;
    grid-column: 1/1;
    max-width: var(--question_acc_img_width);
    max-height: var(--question_acc_img_height);
  }
  .popular_question_content{
    grid-row: 1/1;
  }
  .pq_big_heading{
    text-align: left;
    padding: 0 18px;
    color: var(--dark_heading_font_color);
    font-family: var(--question_font_family);
    font-size: var(--question_acc_big_font_size);
    font-weight: var(--question_acc_big_font_weight);
    line-height: var(--question_acc_big_line_height);
    letter-spacing: 0em;
  }

 
 
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 1400px) {

}
